<% if object.errors.any? %>
	<div id="errors-wrapper">
		<h4>
			<%= pluralize(object.errors.count, "error") %> <%= message %>
		</h4>
		<ul>
			<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end%>
