<div class="jumbotron">
	<h1>Welcome!</h1>
		<p>Use this template as a way to quickly build out demo applications, focusing on features without spending much time on the look and feel of the app.</p>
		<p>Comes with the latest <%= link_to "Bourbon", "http://bourbon.io/", target: "_blank" %> and <%= link_to "Bootstrap", "https://github.com/twbs/bootstrap-sass", target: "_blank" %>.</p>
</div>
