<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>This is a demo app that provides simple user authentication with Bcrypt in Rails 4.</p>
	<p>For more information, please visit <%= link_to "here", "https://github.com/jinpae/basic_user_authentication" %>.</p>
</div>

