# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5113ca22a24f92b534afdb302aae36da57e85b9ea7ad62e012634d6eb77fd8289c39d375bc21ce1d4dab8c9d15af3a2f4e228e8998618c3baf7d5b1099334f2f
  gmail_username: <%= ENV["GMAIL_USERNAME"] %>
  gmail_password: <%= ENV["GMAIL_PASSWORD"] %>

test:
  secret_key_base: ab8282fc195069c45e3c19e11dcc017b572893883d5eac0f3ac06e3a26d2cd9a4188ede492c1f990a4c887fc295fb324acafff200c25c2d2b98742025b8e360a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
