/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bourbon";
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "form";
@import "users";

@-ms-viewport {
  width: device-width;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ddd;
	color: #555;
}

.container {
	box-shadow: rgba(0, 0, 0, 0.18) 0 2px 2px;
	background-color: #fff;
	padding: 20px 3rem;
}

.navbar {
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#flash-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.85;
  text-align: center;

	button.close {
		top: -0.5em;
		right: -1.25em;
	}
	
	p {
		font-size: 1.2em;
	}
}

.navbar-text {
	margin-right: 0;
	margin-left: 0;
}
